/Tutorial/repos/Classwork/HelloWorld/target/
/Tutorial/repos/Class-Kaleab/HelloWorld/target/
/NetBeansProjects/WindowMaster/target/
/NetBeansProjects/NumberGuess/target/
/Tutorial/repos/Class-Kaleab/com.sg.foundations.flowcontrol.ifs/target/
/Tutorial/repos/Class-Kaleab/com.sg.foundations.flowcontrol.random/target/
/NetBeansProjects/com.sg.foundations.flowcontrol.whiles/target/
/NetBeansProjects/mavenproject1/target/
/Tutorial/c#/EZTrail/KzTrail/KzTrail/Data/KzTrailDbContext.cs
